
* {
    font-family: 'Nanum Gothic', sans-serif;
}
#outputBox {
    visibility: hidden;
}

.dataBox {
    width: 80%;
    float: left;
}
.boxMargin-right {
    width: 10%;
    background-color: aliceblue;
    float: right;
}
.boxMargin-left {
    width: 10%;
    background-color: aliceblue;
    float: left;
}
input[type=number]{
    text-align: right;
}
#clear {
    clear: both;
}
.cell-margin {
    margin-left: 10px;
    margin-right: 10px;
}
.col_text_center {
    text-align: center;
}
.col_text_right {
    text-align: right;
}
.col_height {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40px;
}
.head_color {
    background-color: lightgrey;
}
.num_color {
    background-color: #f8f8f8 ;
}
.output_first_tbl_col_head {
    background-color: lightgrey;
    width: 25%;
    text-align: center;
}
.output_first_tbl_col_body {
    width: 75%;
    text-align: left;
    padding-left: 10px;
}
.col_num {
    width: 10%;
}
.col_size1 {
    width: 16%;
}
.col_size2 {
    width: 21%;
}
.col_pad_r10 {
    padding-right: 10px;
}