
* {
    font-family: 'Nanum Gothic', sans-serif;
}
#inputBox, #outputBox {
    width: 80%;
    float: left;
}
.boxMargin-right {
    width: 10%;
    background-color: aliceblue;
    float: right;
}
.boxMargin-left {
    width: 10%;
    background-color: aliceblue;
    float: left;
}
input[type=text]{
    text-align: right;
}
#clear {
    clear: both;
}
.cell-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.div-block-col-head {
    display: inline-block;
    width: 20%;
}
.col_text_center {
    text-align: center;
}
.col_text_right {
    text-align: right;
}
.col_height {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40px;
}
.head_color {
    background-color: lightgrey;
}
.num_color {
    background-color: #f8f8f8 ;
}
#col-head {
    background-color: lightgrey;
    width: 25%;
    text-align: center;
}
#col-body {
    width: 75%;
    text-align: left;
    padding-left: 10px;
}
#col-num {
    width: 10%;
}
#col-size1 {
    width: 16%;
}
#col-size2 {
    width: 21%;
}
.col_pad_r10 {
    padding-right: 10px;
}